* {
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      background: linear-gradient(135deg, #667eea, #764ba2);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 20px 0;
      margin: 0;
    }

    .container {
      background: white;
      padding: 25px;
      border-radius: 15px;
      width: 750px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
      width: 100%;
      max-width: 380px;
      max-height: 90vh;
      overflow-y: auto;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .input-group {
      display: flex;
      gap: 10px;
    }

    input {
      flex: 1;
      border: 1px solid #ddd;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    button {
      border: none;
      border-radius: 8px;
      padding: 10px;
      cursor: pointer;
      transition: 0.2s;
    }

    .btn-add {
      background: #667eea;
      color: white;
    }

    .btn-add:hover {
      background: #5a67d8;
    }

    ul {
      padding: 0;
      margin-top: 20px;
    }

    li {
      list-style: none;
      background: #f9f9f9;
      padding: 12px;
      border-radius: 8px;
      margin-bottom: 10px;

      display: flex;
      justify-content: space-between;
      align-items: flex-start; 
      gap: 10px; 
    }

    .actions button {
      margin-left: 5px;
      padding: 5px 8px;
      font-size: 12px;
    }

    .btn-edit {
      background: orange;
      color: white;
    }

    .btn-delete {
      background: red;
      color: white;
    }

    li span {              
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .actions {
      display: flex;
      flex-direction: column; 
      gap: 5px;
    }

    .completed {
      text-decoration: line-through;
      opacity: 0.6;
    }

    .filter {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .filter button {
      flex: 1;
      margin: 2px;
      background: #eee;
    }

    #info {
     font-size: 12px;
     margin-top: 5px;
     color: #666;
     text-align: center;
     word-break: break-word;
    }

    .left {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      flex: 1;
    }
